/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}
.unsel {
  height: 150px;
  width: 100px;
  background-color: LightGrey;
  margin: 5px;
  text-align: center;
  color: black;
}

.matched {
  height: 150px;
  width: 100px;
  background-color: DarkGreen;
  margin: 5px;
  text-align: center;
  color: White;
}

#bottom {
  display: flex;
}

#reset {
  flex: 1;
}

#score {
  width: 750px;
}
